{% extends 'base.html' %} {% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <img src="{% static 'photos/insta-screen.png' %}" alt="instagram landing pic" class="img-fluid regphones">
  </div>
  <div class="col-md-8" id="form-col">
    {% if form %}
    <form action="/accounts/register/" class="register-form" method="post" id="registration-form">
      {% csrf_token %}
      <div class="form-logo">
        <img src="{% static 'photos/logo.png' %}" alt="Instagram logo" id="img-logo">
        <p>Sign up to see photos and videos from your friends.</p>
      </div>
      {% bootstrap_form form %}
      <div class="form-group">
        <input class="btn btn-primary btn-lg" type="submit" value= "Sign Up" id="signup-btn">
      </div>
      <input type="hidden" name="next" value="{{next}}">
      <div class="login-option">
        <p>By signing up, you agree to our Terms ,<br>
            Data Policy and Cookies Policy .</p>
      </div>
    </form>
    {% endif %}
    <div class="container" id="login-option">
      <p>Have an account? <a href="{% url 'login' %}">Log In </a></p>
    </div>
    
  </div>
</div>
{% endblock %}