h1 {
  color: green;
}
body {
  overflow-x: hidden;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
ul {
  list-style-type: none;
}
#form-col {
  justify-content: center;
  padding: 50px;
}
.text-input input {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
  height: 30px;
}
#img-logo {
  width: 150px;
  height: 60px;
  object-fit: fill;
  justify-self: center;
}
#registration-form {
  border: #999 1px solid;
  text-align: center;
}
#signup-btn {
  padding: 0;
}
#login-option {
  margin-top: 20px;
  border: #999 1px solid;
  width: 430px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#navbar-list {
  margin-top: 15px;
}
#navbar-list li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}
#logout-dropdown {
  margin-left: 100px;
  text-align: center;
}
.dropdown-item {
  color: black;
  padding-bottom: 10px;
}

/* div {
  border: 1px solid black;
} */
#search-form {
  padding-left: 50px;
  margin-top: 15px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-align: center;
  border: 0 solid #000;
}
.navbar {
  position: fixed;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-left: 30px;
  background-color: white;
  z-index: 2;
  width: 100%;
}
#homepage-rows {
  position: relative;
  padding-top: 90px;
}
#my-feed {
  margin-left: 40px;
  margin-left: 40px;
}
#stories-container {
  height: 120px;
  width: 550px;
  border: 1px solid rgb(202, 202, 202);
  background-color: white;
}
#stories-img {
  border-radius: 180px;
  height: 70px;
  width: 70px;
  margin-top: 20px;
}
#single-post {
  margin-top: 30px;
  width: 550px;
  height: auto;
  padding-bottom: 30px;
  border: 1px solid rgb(202, 202, 202);
  padding-top: 15px;
  background-color: white;
}
#three-dots {
  float: right;
  padding: 10px;
  margin-top: 15px;
}
#post-logo {
  height: 30px;
  width: 30px;
  border-radius: 180px;
}
#image-post {
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 530px;
  height: 400px;
  margin: 0;
  padding-left: 0%;
  object-fit: fill;
}
#post-interactivity {
  display: inline-flex;
  margin-top: 5px;
  padding: 5px;
}
#post-interactivity li {
  padding: 10px;
}
#bookmark-image {
  float: right;
  padding: 10px;
  margin-top: 15px;
}
.comment-section {
  position: relative;
  margin-top: 0;
  border-top: 1px solid rgb(202, 202, 202);
  background-color: white;
}
#smile-pic {
  position: absolute;
  padding-top: 10px;
}
#comment-form {
  position: absolute;
  margin-left: 30px;
}
#comment-form input {
  height: 40px;
  width: 500px;
  border: 1px solid white;
}
#post {
  float: right;
  padding-top: 10px;
}
#suggestions {
  position: fixed;
  right: 20px;
  margin-right: 10px;
}

#myaccount-image {
  height: 60px;
  width: 60px;
  border-radius: 180px;
}
#account-images {
  height: 50px;
  width: 50px;
  border-radius: 180px;
}
#side-btns {
  position: absolute;
  margin-top: 30px;
  right: 5%;
}
#see-all {
  position: absolute;
  margin-top: 10px;
  right: 5%;
}
#name-btns {
  margin-top: 30px;
}
#follow {
  position: absolute;
  margin-top: 20px;
  right: 5%;
}
#user {
  margin-top: 10px;
  margin-left: 0;
  text-decoration: black;
}
/*
 Profile Page design
*/
#profile {
  margin-top: 100px;
}
#profile_pic {
  height: 180px;
  width: 180px;
  object-fit: fill;
  border-radius: 120px;
  margin-left: 130px;
}

#profile_details li {
  float: left;
  padding-right: 30px;
  padding-left: 0%;
  padding-bottom: 20px;
}
#profile-t {
  font-size: 16px;
  padding-left: 40px;
}
.profile-sec {
  padding-right: 20px;
}

.profile-btns li {
  display: inline-block;
}
#profile-texts {
  margin-right: 20px;
}
#edit-profile {
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  color: rgba(var(--f75, 38, 38, 38), 1);
  margin-bottom: 8px;
  margin-right: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#individual-posts {
  border-top: 1px solid rgb(202, 202, 202);
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 50px;
  padding-right: 0px;
}
#post_head {
  margin-left: 200px;
  margin-bottom: 30px;
}
#post_head li {
  float: left;
  padding-top: 15px;
  padding-left: 50px;
}
#single-image {
  height: 290px;
  width: 290px;
  margin: 10px;
}
