{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar">
  
    <div class="col-md-4">
      <img src="{% static 'photos/logo.png'%}" id="img-logo">
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4">
      <form id="search-form">
        <input type="search" placeholder="search">
      </form>
    </div>
    <div class="col-md-4">
      <ul id="navbar-list">
        <li><a><img src="{% static 'photos/house-black-silhouette-without-door.png'%}"></a></li>
        <li><a><img src="{% static 'photos/send.png'%}"></a></li>
        <li><a><img src="{% static 'photos/direction.png'%}"></a></li>
        <li><a><img src="{% static 'photos/heart.png'%}"></a></li>
        <li><a><img src="{% static 'photos/user.png'%}"></a></li>
      </ul>
    </div>
    {% else %}
    <p>Please sign in</p>
    {% endif %}

</nav>
</body>
</html>